@using Microsoft.AspNetCore.Identity
@using ProperHouse.Infrastructure.Data.Models
@using ProperHouse.Core.Contracts

@inject IOwnerService OwnerService
@inject IFavoriteService FavoriteService
@inject IPropertyService PropertyService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model PropertyDetailsViewModel

@{
    ViewData["Title"] = "Property details";

    var userId = User.GetId();
    var userIsAdmin = User.IsAdmin();
    var IsFavorite = FavoriteService.IsUsersFavorite(userId, Model.Id);
    var userIsOwner = OwnerService.OwnerOfProperty(OwnerService.OwnerByUser(userId), @Model.Id);

}
<h3 class="card-title mb-3 text-center">Property Details</h3>
<div class="card mb-3" style="max-width: 1040px;">
    <div class="row g-0">
        <div class="col-md-4 mb-3">
            <img src="@Model.ImageUrl" class="img-fluid rounded-start" alt="@Model.ImageUrl">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">@Model.Category in @Model.Quarter - @Model.Town</h3>
                <h5 class="card-title">Price per nigth: @Model.Price Euro</h5>
                <p class="card-text">Capacity: @Model.Capacity</p>
                <p class="card-text">Area: @Model.Area</p>
                <p class="card-text">Floor: @Model.Floor</p>
                <p class="card-text"><small class="text-muted">@Model.Description</small></p>
                <p class="card-text">Owner: @Model.Owner</p>
                <p class="card-text">Call for reservations: @Model.PhoneNumber</p>
            </div>
        </div>
    </div>
</div>
<div class="row col-md-2 offset-md-5">
    @if (!userIsAdmin && !userIsOwner)
    {
        @if(!IsFavorite)
        {
            <a asp-controller="Favorite" asp-action="AddFavorite" asp-route-id="@Model.Id"  class="btn btn-secondary mb-2">Add to favorites</a>
        }
        else
        {
            <a asp-controller="Favorite" asp-action="RemoveFavorite" asp-route-id="@Model.Id"  class="btn btn-secondary mb-2">Remove from favorites</a>
        }

        <a asp-controller="Reservation" asp-action="Add" asp-route-id="@Model.Id"  class="btn btn-secondary mb-2">Make reservation</a>
    }
    @if (userIsAdmin || userIsOwner)
    {
        <a asp-controller="Property" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning mb-2">Edit</a>
        <a asp-controller="Property" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-warning mb-2">Delete</a>
    }
</div>

