@model IList<PropertyListingViewModel>

@{
    ViewData["Title"] = "Admin";
}

<h1 class="text-center mb-4">All properties</h1>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Category</th>
            <th scope="col">Town</th>
            <th scope="col">Capacity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
        <tr>
            <td scope="col">@car.Id</td>
            <td scope="col">@car.Category</td>
            <td scope="col">@car.Town</td>
            <td scope="col">@car.Capacity</td>
            <td scope="col">                
                <a asp-area="" asp-controller="Property" asp-action="Details" asp-route-id="@car.Id" class="btn btn-warning ml-2">Details</a>
                <a asp-area="Admin" asp-controller="Property" asp-action="Delete" asp-route-id="@car.Id" class="btn btn-warning ml-2">Show</a>
            </td>
        </tr>
        }
    </tbody>
</table>
