@model IList<PropertyListingViewModel>

@{
    ViewData["Title"] = "Admin";
}

<h1 class="text-center mb-4">All properties</h1>

<table class="table table-success table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Category</th>
            <th scope="col">Town</th>
            <th scope="col">Capacity</th>
            <th scope="col">Approved</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prop in Model)
        {
        <tr>
            <td scope="col">@prop.Id</td>
            <td scope="col">@prop.Category</td>
            <td scope="col">@prop.Town</td>
            <td scope="col">@prop.Capacity</td>
            <td scope="col">@(prop.IsPublic ? "YES" : "NO")</td>
            <td scope="col">                
                <a asp-area="" asp-controller="Property" asp-action="Details" asp-route-id="@prop.Id" class="btn btn-warning ml-2">Details</a>
                <a asp-area="Admin" asp-controller="Property" asp-action="Approve" asp-route-id="@prop.Id" class="btn btn-warning ml-2">@(prop.IsPublic ? "Hide" : "Approve")</a>
            </td>
        </tr>
        }
    </tbody>
</table>
